
Options +FollowSymlinks
Options -Indexes

<IfModule mod_rewrite.c>

    RewriteEngine on

    # Index (Only if file or folder does not exists)
    RewriteCond       %{REQUEST_FILENAME} !-f
    RewriteCond       %{REQUEST_FILENAME} !-d
    RewriteRule       ^(.*)$           index.php         [L]

</IfModule>
